/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
    background-color: #000;
    /* overflow: hidden; */
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* .loader {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    right: 10px;
    top: 20px;
} */
/* HTML: <div class="loader"></div> */

.u-text-center {
	text-align: center!important;
}
.loader {
    width: 40px;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 20px;
    aspect-ratio: 1;
    color: #C59264;
    background:
     radial-gradient(circle at 60% 65%, currentColor 62%, #0000 65%) top left,
     radial-gradient(circle at 40% 65%, currentColor 62%, #0000 65%) top right,
     linear-gradient(to bottom left, currentColor 42%,#0000 43%) bottom left ,
     linear-gradient(to bottom right,currentColor 42%,#0000 43%) bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
  }
  .loader:after {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    opacity: 0.4;
    animation: l3 1s infinite;
  }
  @keyframes l3 {
    to {transform:scale(1.8);opacity:0}
  }

.clr-gold {
    color: #B38F4D;
}

h1 {
	font-size: 28px;
	margin-bottom: 40px;
    line-height: 1.3;
	color: #fff;
}

h2 {
    color: #000;
	font-size: 25px;
    margin-bottom: 30px;
}

h3 {
	font-size: 20px;
	color: #fff;
	font-weight: 600;
}

a {
	transition: all .3s ease;
}

p {
	color: #fff;
	font-size: 20px;
	margin-bottom: 15px;
}

strong {
	font-weight: 700;
}

.wrap-section {
	display: flex;
	flex-direction: column;
}

.header-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	height: 100px;
	width: 100%;
}

main {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    height: 100vh;
    position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

section {
	display: flex;
	justify-content: center;
	text-align: center;
	/* min-height: calc(100% - 120px); */
}

article {
	margin: 50px auto;
	min-width: 450px;
	max-width: 640px;
	background-color: #fff;
	border-radius: 20px;
	overflow: hidden;
	background-size: cover;
	background-position: 50% 50%;
	background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
}

.step-2 .step-body h2, 
.step-3 .step-body h2,
.step-4 .step-body h2 {
	margin-bottom: 10px;
	font-weight: 600;
}

.step-2 .step-body p,
.step-3 .step-body p,
.step-4 .step-body p {
	font-size: 16px;
}

.step-header {
	padding: 20px;
	background-color: #B38F4D;
}

.step-header h1 {
	margin-bottom: 0;
	font-weight: 600;
}

.step-body {
	padding: 40px 20px;
}

.step-body p {
	color: #000;
}

.step-footer {
	padding: 20px;
	background-color: rgba(0,0,0,.8);
}

.step-footer h3 {
	margin-bottom: 20px;
}

.step-footer p {
	font-size: 18px;
	color: red;
}

.step-6 ul {
	margin: 0 auto;
	display: inline-flex;
	flex-direction: column;
	margin-bottom: 20px;
	gap: 5px
}

.step-6 ul span {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #B38F4D;
}

.step-6 ul li {
	display: flex;
	align-items: center;
	gap: 10px;
}

.step-6 h2 {
	margin-bottom: 10px;
}

.step-6 p {
	margin-bottom: 0;
	font-size: 18px;
	line-height: 1.3;
}

.checkbox-list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.checkbox input {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	z-index: -1;
}

.checkbox label {
	width: 130px;
	height: 130px;
	border-radius: 20px;
	position: relative;
	overflow: hidden;
	display: flex;
	cursor: pointer;
	outline: 2px solid transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	transition: all .3s ease;
}

.checkbox label span {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	line-height: 1.4;
	pointer-events: none;
	transition: all .3s ease;
	opacity: 1;
	visibility: visible;
}

.checkbox label:hover span {
	opacity: 0;
	visibility: hidden;
}
.checkbox input:checked + label {
	outline: 2px solid red;
}


.body-heading {
	padding: 20px;
	background-color: rgba(0,0,0,.8);
	margin-bottom: 20px;
	color: #fff;
	font-weight: 600;
}

.counter {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.counter-number {
	font-size: 13px;
	font-weight: 600;
}

.counter-number span {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	color: #fff;
	width: 80px;
	height: 80px;
	background-color: #000;
	margin-bottom: 10px;
	border-radius: 5px;
}

.counter .divider {
	font-size: 30px;
	color: #000;
	transform: translate(0,-10px)
}

.btn-circle {
	font-family: "Open Sans", sans-serif;
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	font-size: 20px;
	font-weight: 600;
	background-color: #B38F4D;
	border: none;
	color: #fff;
	cursor: pointer;
	transition: all .3s ease;
	gap: 20px;
}

.btn-circle:disabled {
	cursor: normal;
	pointer-events: none;
	background-color: #bababa;
}

.btn-circle.btn-whtie {
	background-color: #ffffff;
	color: #000;
}

.btn-circle:hover {
	background-color: rgb(169, 128, 51);
}

.btn-circle.btn-whtie:hover {
	background-color: #bababa;
}

.btn--modal {
	height: 40px;
	border-radius: 10px;
	width: 100%;
	font-size: 18px;
	font-weight: 600;
}


.btn-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.login {
	border-radius: 10px;
	height: 50px;
	display: flex;
	align-items: center;
	background-color: #B38F4D;
	transition: all .3s ease;
	color: #fff;
	white-space: nowrap;
	padding: 0 20px;
	text-decoration: none;
	gap: 20px;
	font-weight: 600;
}

.login:hover {
	background-color: rgb(169, 128, 51);
}


.dropdown-wrapper {
	position: relative;
}

.dropdown {
	z-index: 2;
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #fff;
	border-radius: 15px;
	padding: 30px;
	width: 350px;
	max-width: 350px;
	margin-top: 10px;
}

.dropdown p {
	color: #000;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.3;
}

.dropdown a {
	color: #000;
	font-size: 14px;
	font-weight: 600;
}

.dropdown a:hover {
	color: #B38F4D;
}

.close {
	position: absolute;
	right: 10px;
	top: 10px;

}

.footer-main {
	padding: 20px 20px;
}

.footer-main p, .footer-main a {
	font-size: 12px;
}

.footer-main p {
	line-height: 1.2;
}

@media(max-width: 768px) {
	.header-main {
		padding: 0 20px;
		height: 100px;
	}

	.header-main img {
		width: 100px;
	}

	section {
		padding: 0 20px;
	}

	h1 {
		font-size: 22px;
	}

	p {
		font-size: 16px;
	}

	article {
		margin: 0 auto 50px;
	}

}




